.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      font-size: 40px;
      color: #102a42;
      margin-bottom: 12px;

    }

    .line{
      height: 4px;
      width: 30%;
      background-color:#49a6e9;

    }
  }

  .box{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 32px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 50%;

    .img{
      position: relative;
      .imgItem{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        z-index: 5;

      }
      .circle{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color:#49a6e9;
        position: absolute;
        bottom: 7px;
        left: 7px;
        z-index: -1;
      }

      .icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color:#49a6e9;
        position: absolute;
        top: 5px;
        left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: #fff;
      }
    }

    .name{
      font-size: 18px;
      letter-spacing: 3px;
      color: #102a42;
      font-weight: 600;
      margin-bottom: 0;
    }

    .position{
      font-size: 14px;
      margin: 4px 0;
      color:#49a6e9;

    }

    .description{
      color: #617298;
      font-size: 16px;
      letter-spacing: .5px;
      text-align: center;
    }

    .btns{
      display: flex;
      align-items: center;

      .btn{
        padding: 8px;
        margin: 0 12px;
        cursor: pointer;
      }
    }

    .surpriseBtn{
      padding: 8px;
      border: 1px solid #49a6e9;
      color: #49a6e9;
      transition: .2s;
      cursor: pointer;
      user-select: none;
      border-radius: 8px;
      &:hover{
        background-color: #49a6e9;
        color: #000;
      }

    }
  }
}
